
.gnb-line{
  width: 100%;
  height: 15px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  /* opacity: 0; */
  border-top: 1px solid black;
  z-index: 21;
  scale: 0;
}
header{
  position: fixed;
  width: 100%;
  height: fit-content;
  z-index: 20;
}
nav:hover{
  background-color: rgba(225, 225, 225, 0.8);
  backdrop-filter: saturate(120%) blur(12px);
  height: 200px;
}
nav:hover .depth2{
  opacity: 1;
  transition: 0.5s;
}
nav:hover .gnb-line{
  opacity: 1;
  transition: 0.5s;
  scale: 1;
}
.gnb{
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: space-between;
  padding: 20px 30px 0 30px;
}
.depth1 a{
  font-weight: 900;
}
.depth1 {
  display: flex;
  justify-content: center;
}
.gnb .depth1>li{
  padding:0 37px; 
}
.depth2{
  display: flex;
  flex-direction: column;
  opacity: 0;
}
.depth2 li{
  padding-top: 20px;
  cursor: pointer;
}
.top-right button{
  background: none;
  border: none;
  font-size: 1.25em;
  cursor: pointer;
  color: #707070;
}
.top-right{
  display: flex;
  align-items: flex-start;
}
.top-right ul li{
  padding-left: 28px;
}
.depth2 li{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page-up{
  width: 40px;
  height: 40px;
  font-size: 30px;
  line-height: 40px;
  cursor: pointer;
  position: fixed;
  bottom: 5%;
  right: 3%;
  border: 1px solid #707070;
  background-color: rgba(225, 225, 225, 0.2);
  backdrop-filter: saturate(180%) blur(5px);
  text-align: center;
  border-radius: 50%;
  opacity: 0;
}

/* 푸터 */
footer{
  width: 100%;
  height: 300px;
  background-color: #DEDEDE;
  position: relative;
}
footer h4{
  position: absolute;
  top: 50px;
  left: 33px;
}
footer .footer1{
  position: absolute;
  top: 150px;
  left: 33px;
}
footer>p{
  position: absolute;
  top: 250px;
  left: 33px;
}
footer>p .tell{
  color: #9c9999;
  margin-left: 30px;
}
footer .sns{
  position: absolute;
  top: 50px;
  right: 33px;
  font-size: 30px;
}

/* 
.depth2{display: none;} */