/* 메인비주얼 */
html, body {height: 100%;}
.main-top-wrap{
  width: 100%;
  height: 100%;
}
.main-top-wrap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide_txt{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}
.slide_txt_{
  position: absolute;
  top: 50%;
  right: 20%;
  text-align: right;
  transform: translateY(-50%);
}
.visual h2{
  font-size: 3vw;
  padding: 20px 0;
  color: #5a5a5a;
}
.visual b, .visual p{
  font-size: 1.3vw;
}



/* 섹션공통*/
.section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  overflow: hidden;
}
.section>div:first-child{
  margin: 5%;
}
.txt_box{
  display: flex;
  flex-direction: column;
}
.txt_box h2{
  font-size: 6.3vw;
}
.txt_box p{
  margin: 20% 0;
}
.txt_box a{
  width: 30%;
  height: 50px;
  background-color: white;
  border: 1px solid gray;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
}
.vg_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec01_txt{
  margin-right: 200px;
  opacity: 0;
}
.sec01_img{
  margin-right: -300px;
  opacity: 0;
}

/* 섹션2 */
.sec02{
  flex-direction: row-reverse;
}
.sec02_txt{
  margin-left: 200px;
  opacity: 0;
}
.sec02_img{
  margin-left: -300px;
  opacity: 0;
}

/* 섹션3 */
.scr-img{
  background: url(../img//1p_scroll\ copy.jpg) 50% no-repeat;
  height: 100%;
  width: 100%;
  padding-bottom: 0;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .2) inset;
}

/* 섹션4 */
.review{
  width: 100%;
  height: 100%;
  background-color: #f3f2ee;
  /* box-shadow: 0 -5px 20px rgba(0, 0, 0, .2); */
}
.sec04_wrap{
  width: 70% !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  margin: 0 auto;
}
.rv_wrap{
  height: fit-content !important;
  margin: 0 auto -400px auto;
}
.rv_wrap .rv_box{
  width: 248px !important;
  height: 395px;
  display: flex;
  background-color: white;
  margin-left: 20px;
}
.rv_wrap .rv_box a{
  width: 100%;
  height: 100%;
  text-align: center;
}
.rv_wrap .rv_box img{
  width: 80%;
  height: 50%;
  margin-top: 10%;
  object-fit: cover;
}
.rv_wrap .rv_box .rv_txt{
  width: 80%;
  height: 105px;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.rv_wrap .rv_box h4{
  padding: 20px 0;
}
.rv_wrap .rv_box p{
  text-overflow: ellipsis;
}
